@import "../../base.scss";

.upload-box {
	width: 100%;
	display: flex;
	gap: $unit-1;

	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	padding: $unit-2;
	border-radius: $unit-2;
	font-size: 14px;
	font-weight: 500;
	color: $color-gray-3;
	background: $color-gray-1;

	&-field {
		display: none;
	}

	&-wrapper {
		display: flex;
		width: 100%;
	}

	&-link {
		font-size: 14px !important;
		text-align: center;
		width: 100%;
	}

	transition: $transition-all;

	&:hover {
		cursor: pointer;
		background: rgba($color-secondary, 0.1);

		color: $color-primary;
	}
}
