@import "../../base.scss";

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	overflow-x: hidden;
	overflow-y: auto;

	&-content {
		max-width: 1200px;
		padding: $unit-4;
		width: 100%;
		min-height: 100%;
		overflow-x: hidden;

		display: flex;
		flex-direction: column;
		-webkit-overflow-scrolling: touch;

		&-sm {
			max-width: 100%;
			overflow-x: hidden;
		}
	}

	&-sm {
		padding-top: $unit-6;
	}
}
