@import "../../base.scss";

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	overflow: hidden;

	width: 100%;

	&::-webkit-scrollbar {
		display: none;
	}

	&-content {
		padding: $unit-4;
		width: 100%;
		min-height: 100%;
		overflow-x: hidden;
		overflow-y: hidden;

		display: flex;
		flex-direction: column;
		position: relative;

		&-sm {
			max-width: 100%;
			overflow-x: hidden;
			min-height: 480px;
			overflow-y: auto;
			height: 100%;

			margin-bottom: $bottom-nav-height;
			// height: calc(100vh - $bottom-nav-height - $waiter-header-height);
		}

		&-md {
			max-width: 1000px;
		}

		&-lg {
			max-width: 1200px;
		}

		&-xl {
			max-width: 1400px;
		}
	}

	&-sm {
		height: 100%;
	}
}
