@import "../../base.scss";

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	overflow: hidden;

	width: 100%;

	&::-webkit-scrollbar {
		display: none;
	}

	&-content {
		padding: $unit-4;
		width: 100%;
		min-height: 100%;
		overflow-x: hidden;

		display: flex;
		flex-direction: column;

		&-sm {
			max-width: 100%;
			overflow-x: hidden;
		}

		&-md {
			max-width: 1000px;
		}

		&-lg {
			max-width: 1200px;
		}

		&-xl {
			max-width: 1400px;
		}
	}

	&-sm {
		padding-top: $unit-4;
		-webkit-overflow-scrolling: touch;
	}
}
