@import "../../base.scss";

.input {
	outline: none;
	border: none;
	border-bottom: 1px solid $color-gray-3;
	padding: 8px 12px;
	font-size: 16px;
	font-weight: 600;
	color: $color-text-darker;
	width: 100%;
	transition: $transition-all;
	background: transparent;

	&-wrapper {
		display: flex;
		flex-direction: column;
		gap: 2px;
		position: relative;
	}

	&-label {
		font-size: 13px;
		font-weight: 500;
		font-weight: 600;
		color: $color-text-placeholder;
		animation: $animation-fade-in 0.1s ease-in-out;
	}

	&-field {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex: 1;
		position: relative;
	}

	&:disabled {
		background-color: $color-gray-1 !important;
		cursor: not-allowed !important;
		color: $color-text-placeholder;
	}

	&-error {
		border-color: $color-danger;
		color: $color-danger;
	}

	&-prefix {
		position: absolute;
		left: 12px;
		bottom: 9px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
