@import "../../base.scss";

.input {
	outline: none;
	border: none;
	border-bottom: 1px solid $color-gray-3;
	padding: 8px 12px;
	font-size: 16px;
	font-weight: 600;
	color: $color-text-darker;

	&-wrapper {
		display: flex;
		flex-direction: column;
	}

	&-label {
		font-size: 13px;
		font-weight: 500;
		font-weight: 600;
		color: $color-text-placeholder;
		margin-bottom: 2px;
	}

	&.filled-input {
		width: 100%;
		padding: 12px;
		background: $color-gray-1;
		border-radius: $unit-2;
		font-size: 16px;
		font-weight: 600;
		border: none;
		border-radius: 12px;

		&:focus {
			outline: 2px solid $color-secondary;
		}
	}

	&:disabled {
		background-color: $color-gray-1 !important;
		cursor: not-allowed !important;
		color: $color-text-placeholder;
	}
}
