@import "../../../../base.scss";

.waiters {
	display: flex;
	flex-direction: column;
	gap: $unit-4;

	&-title {
		font-size: 20px;
		font-weight: 600;
		color: $color-text-dark;
	}

	&-actions {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&-filters {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: $unit-3;
	}

	&-search {
		width: 240px;
		font-weight: 500;
	}

	&-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		justify-content: space-between;
		align-content: flex-start;
		gap: $unit-4;
	}

	&-loading {
		width: 100%;
		padding: 32px;
		display: flex;
		align-items: center;
		justify-content: center;

		gap: 12px;
		flex-direction: column;

		font-size: 20px;
		color: $color-text-dark;
		font-weight: 600;
	}

	&-info {
		&-name {
			font-size: 18px;
			font-weight: 700;
			color: $color-text-darker;
		}

		&-phone {
			font-size: 14px;
			font-weight: 500;
			color: $color-text-dark;
		}

		&-email {
			font-size: 14px;
			font-weight: 500;
			color: $color-gray-3;
		}
	}
}
