@import "../../base.scss";

.w-app-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 $unit-4;
	height: $waiter-header-height;
	min-height: $waiter-header-height;
	max-height: $waiter-header-height;	

	&-sm {
		padding-top: $unit-4;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		gap: $unit-3;
		width: 100%;
	}

	&-button {
		border: none;
		background: transparent;
		outline: none;
		padding: 4px;
		border-radius: 6px;

		transition: $transition-all;

		&:hover {
			cursor: pointer;
			scale: $scale-1;
		}
	}

	&-action {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: fit-content;

		&:first-child {
			justify-content: flex-start;
		}

		&:last-child {
			justify-content: flex-end;
		}
	}
}

@keyframes slide-in {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

.input-search {
	height: 48px;
	border-radius: $unit-2;
	border: 1px solid $color-secondary;
	width: 100%;
	padding: $unit-2;
	font-size: 16px;
	font-weight: 600;
	color: $color-secondary;

	transition: $transition-all;
	animation: slide-in 0.3s ease-in-out;

	&::placeholder {
		color: $color-text-placeholder;
		opacity: 1; /* Firefox */
	}

	&::-ms-input-placeholder {
		/* Edge 12 -18 */
		color: $color-text-placeholder;
	}

	&-close {
		position: absolute;
		right: $unit-6;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px;
		opacity: 0;

		animation: $animation-fade-in 0.2s ease-in-out forwards;
		animation-delay: 0.2s;
	}

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 $unit-4;
		width: 100%;

		position: relative;
	}
}
