@import "../../base.scss";

.button {
	font-size: 14px;
	font-weight: 600;
	border: none;
	outline: none;
	box-shadow: $shadow-soft;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: $unit-1;

	&-sm {
		font-size: 12px;
		padding: 8px 12px;
		border-radius: 8px;
	}

	&-md {
		font-size: 14px;
		padding: 10px 16px;
		border-radius: 12px;
	}

	&-lg {
		font-size: 16px;
		padding: 12px 16px;
		border-radius: 12px;
	}

	&-outlined {
		&.button-primary {
			background-color: transparent;
			border: 1px solid $color-primary;
			color: $color-primary;

			&:hover {
				background-color: rgba($color-primary, 0.2);
			}
		}

		&.button-secondary {
			background-color: rgba($color-secondary, 0.2);
			border: 1px solid $color-secondary;
			color: $color-secondary;

			&:hover {
				background-color: rgba($color-secondary, 0.3);
			}
		}
	}

	&-filled {
		&.button-primary {
			background-color: $color-primary;
			color: $color-white;

			&:hover {
				background-color: darken($color-primary, 10%);
			}
		}

		&.button-secondary {
			background-color: $color-secondary;
			border-color: $color-secondary;
			color: $color-white;

			&:hover {
				background-color: darken($color-secondary, 10%);
			}
		}

		&.button-danger {
			background-color: $color-danger;
			border-color: $color-danger;
			color: $color-white;

			&:hover {
				background-color: darken($color-danger, 10%);
			}
		}
	}

	transition: $transition-all;

	&:hover {
		cursor: pointer;
		opacity: 0.8;
		scale: $scale-1;
	}

	&-loading {
		opacity: 0.8;
	}

	&:disabled {
		color: $color-text-placeholder !important;
		background: $color-gray-3 !important;
		cursor: not-allowed !important;
		opacity: 1 !important;
		scale: 1 !important;
	}
}
