@import "../../../../base.scss";

.product-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: $unit-2;
	width: 100%;

	&-image {
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba($color-primary, 0.65);
		position: relative;
		width: 100px;
		min-width: 100px;
		border-radius: $unit-2;
		overflow: hidden;
		height: fit-content;
		padding: 2px;

		img {
			height: 60px;
			object-fit: cover;
			-webkit-filter: drop-shadow(0px 4px 5px #333);
			filter: drop-shadow(0px 4px 5px #333);
		}
	}

	&-info {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: $unit-1;
		width: 100%;

		&-name {
			font-size: 16px;
			font-weight: 700;
			color: $color-text-dark;
		}

		&-stock {
			font-size: 14px !important;
			font-weight: 500;
			color: $color-white;
		}

		&-stock-black {
			color: $color-text-dark;
		}

		&-price {
			font-size: 14px;
			font-weight: 600;
			color: $color-text-dark;
		}

		&-category {
			font-size: 12px;
			font-weight: 500;
			color: $color-secondary;
		}

		&-row {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			&-start {
				justify-content: flex-start;
				gap: $unit-2;
			}
		}
	}

	&-add {
		width: fit-content;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: $unit-2;

		font-size: 16px;
		font-weight: 600;
		color: $color-text-dark;
		padding: $unit-1 0;
		padding-right: 2px;
	}

	&.minify {
		.product-row-info {
			&-name {
				font-size: 14px;
			}

			&-price {
				font-size: 14px;
			}

			&-category {
				font-size: 12px;
			}
		}
	}
}
