@import "../../base.scss";

.w-on-order {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: $unit-4;

	&-content {
		display: flex;
		flex-direction: column;
		height: 100%;
		gap: $unit-4;
	}

	&-header {
		display: flex;
		flex-direction: column;
		gap: $unit-2;

		&-title {
			align-items: flex-end;
		}
	}

	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 24px;
	}

	&-table {
		font-size: 18px;
		font-weight: 600;
		padding: 6px 12px;
	}

	.detailed-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: $unit-3;
		width: 100%;
		height: 100%;
		max-height: 100%;
		overflow-y: auto;
		padding-right: 6px;

		&-total {
			display: grid;
			grid-template-columns: 1fr minmax(40px, 80px);
			font-size: 18px;
			font-weight: 700;
			color: $color-text-darker;
		}

		&-products {
			&-stock {
				font-size: 16px;
				font-weight: 500;
				color: $color-text-placeholder;
			}
			&-name {
				font-size: 16px;
				font-weight: 600;
				color: $color-text-dark;
			}
			&-price {
				font-size: 16px;
				font-weight: 600;
				color: $color-text-dark;
				text-align: right;
			}

			&-item {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 100px 60px;
			}

			&-header {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 100px 60px;
				font-size: 14px;
				font-weight: 600;
				color: $color-text-placeholder;

				position: sticky;
				top: 0;
				z-index: 4;
				background: $color-background;

				span:last-child {
					text-align: right;
				}
			}
		}
	}
}

.text-slash {
	* {
		text-decoration: line-through !important;
		color: $color-gray-3 !important;
		font-weight: 500 !important;
	}
}

.large-button {
	width: 100%;
	padding: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 6px;
	font-size: 16px;
	font-weight: 600;
	border-radius: $unit-2;

	&-primary {
		color: $color-white;
		background: $color-primary;
	}

	&-secondary {
		color: $color-white;
		background: $color-secondary;
	}

	&-products {
		display: flex;
		flex: 1;
		align-self: stretch;
		flex-direction: column;
		max-height: 100%;
		overflow-y: auto;
	}

	&:hover {
		cursor: pointer;
		scale: $scale-2;
	}
}
