@import "../../../../base.scss";

.product-row {
	display: flex;
	flex-direction: row;
	gap: 24px;

	&-image {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $unit-2;
		background: $color-primary;
		position: relative;
		min-width: 120px;
		width: 120px;
		border-radius: $unit-3;
		gap: 24px;

		img {
			height: 48px;
			width: auto;
			object-fit: cover;
		}
	}

	&-info {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: $unit-1;

		&-name {
			font-size: 16px;
			font-weight: 700;
			color: $color-text-dark;
		}

		&-stock {
			font-size: 14px !important;
			font-weight: 500;
			color: $color-text-dark;
		}

		&-price {
			font-size: 16px;
			font-weight: 600;
			color: $color-text-dark;
		}

		&-category {
			font-size: 12px;
			font-weight: 500;
			color: $color-secondary;
		}

		&-row {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
}
