@import "../../base.scss";

.w-a-products {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&-content {
		display: flex;
		flex-direction: column;
		gap: $unit-4;
		position: relative;
		width: 100%;
		height: 100%;
	}

	&-header {
		display: flex;
		flex-direction: column;
		gap: $unit-2;

		&-scroll {
			position: sticky;
			background: $color-background;
			padding-bottom: 24px;
			z-index: 2;
			top: -24px;
		}
	}

	&-filters {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: $unit-2;

		&-chips {
			display: flex;
			align-items: center;
			flex-direction: row;
			gap: $unit-2;
			overflow: hidden;
			overflow-x: auto;
		}
	}

	&-subtitle {
		font-size: 20px;
		font-weight: 600;
		color: $color-text-darker;
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: $unit-3;
		overflow-y: auto;
		padding-bottom: calc($unit-6 + 40px);
		max-height: 100%;
	}

	&-footer {
		position: fixed;
		z-index: 1;
		bottom: 0;
		left: 0;
		padding: $unit-6 $unit-4;
		padding-top: $unit-2;
		background: #fff;
		border-top: 1px solid $color-gray-1;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-loading {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: $unit-1;
		padding: $unit-4;
	}
}
