@import "../../base.scss";

.spinner {
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	&-primary {
		color: $color-primary;
	}

	
	&-secondary {
		color: $color-secondary;
	}


	svg {
		animation: spin 1s linear infinite;
	}
}
