@import "../../base.scss";

.w-serve-order {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&-content {
		display: flex;
		flex-direction: column;
		gap: $unit-4;
		height: 100%;
	}

	&-header {
		display: flex;
		flex-direction: column;
		gap: $unit-2;

		&-scroll {
			position: sticky;
			background: $color-background;
			padding-bottom: 24px;
			z-index: 2;
			top: -24px;
		}

		&-title {
			align-items: flex-end;
		}
	}

	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 24px;
	}

	&-table {
		font-size: 18px;
		font-weight: 600;
		padding: 6px 12px;
	}

	.detailed-list {
		display: flex;
		flex-direction: column;
		height: 100%;
		gap: $unit-2;
		overflow-y: auto;
		max-height: 100%;
		padding-right: 6px;

		&-products {
			&-name {
				font-size: 16px;
				font-weight: 600;
				color: $color-text-dark;
			}
			&-price {
				font-size: 16px;
				font-weight: 600;
				color: $color-text-dark;
				text-align: right;
			}

			&-item {
				display: grid;
				grid-template-columns: 32px 1fr 60px;
				gap: 6px;

				&:hover {
					cursor: pointer;

					.custom-checkbox {
						&::after {
							background-color: rgba($color-secondary, 0.2);
						}
					}
				}
			}

			&-header {
				display: grid;
				grid-template-columns: 32px 1fr 60px;
				gap: 6px;
				font-size: 14px;
				font-weight: 600;
				color: $color-text-placeholder;

				position: sticky;
				z-index: 2;
				top: 0;
				background: $color-background;

				span:last-child {
					text-align: right;
				}
			}
		}
	}
}
