@import "../../../../base.scss";

.order-card {
	min-width: 340px;
	max-width: 360px;
	width: 100%;
	box-shadow: $shadow-strong;
	background: $color-white;
	border-radius: $unit-3;
	padding: $unit-3;
	gap: $unit-3;

	display: flex;
	flex-direction: column;

	&-title {
		font-size: 16px;
		font-weight: 500;
		color: $color-text-placeholder;
	}

	&-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.chip-status {
			font-size: 18px;
		}
	}

	&-footer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-confirmed {
		background: rgba($color-success, 0.2);
		padding: 12px;
		width: 100%;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: $unit-1;
		font-weight: 600;
		font-size: 18px;
		color: $color-success;
	}

	.info {
		display: flex;
		flex-direction: column;
		gap: $unit-2;

		&-order-id {
			font-size: 24px;
			font-weight: 600;
		}

		.info-items {
			display: flex;
			flex-direction: column;
			gap: $unit-1;

			&-grid {
				width: 100%;
				display: grid;
				grid-template-columns: 40px 1fr minmax(40px, 100px);
				gap: $unit-2;
				align-items: flex-start;
			}

			&-name {
				font-size: 16px;
				font-weight: 600;
				color: $color-text-dark;
			}

			&-stock {
				font-size: 16px;
				font-weight: 500;
				columns: $color-text-placeholder;
			}

			&-price {
				font-weight: 16px;
				font-weight: 500;
				color: $color-text-dark;
			}

			&-currency {
				display: grid;
				grid-template-columns: 30px 1fr;
			}

			&-total {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				font-size: 16px;
				font-weight: 700;
				color: $color-text-darker;

				&-label {
				}
				&-value {
				}
			}
			
			&-payment-method {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				font-size: 16px;
				font-weight: 600;
				color: $color-text-dark;

				&-label {
				}
				&-value {
				}
			}
		}
	}
}
