@import "../../base.scss";

.attendance {
	display: flex;
	flex-direction: column;
	gap: $unit-4;
	width: 100%;

	&-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&-tabs {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: $unit-2;
		width: fit-content;
	}

	&-tab-content {
		display: flex;
		flex-direction: column;
	}
}
