@import "../../base.scss";

.w-o-products {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - 200px);

	&-content {
		display: flex;
		flex-direction: column;
		gap: $unit-4;
		height: 100%;
		justify-content: space-between;
	}

	&-header {
		display: flex;
		flex-direction: column;
		gap: $unit-2;

		&-scroll {
			position: sticky;
			background: $color-background;
			padding-bottom: 24px;
			z-index: 2;
			top: -24px;
		}
	}

	&-filters {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: $unit-2;

		&-chips {
			display: flex;
			align-items: center;
			flex-direction: row;
			gap: $unit-2;
			overflow: hidden;
		}
	}

	&-subtitle {
		font-size: 20px;
		font-weight: 600;
		color: $color-text-darker;
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: $unit-3;
		height: 100%;

		max-height: calc(100vh - 300px);
		overflow-y: auto;
	}

	&-total {
		font-weight: 18px;
		font-weight: 600;
		color: $color-text-darker;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}
