@import "../../base.scss";

.bottom-nav {
	position: absolute;
	bottom: 0;
	height: 80px;
	background: $color-secondary;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;

	padding-bottom: 12px;

	&-icon {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $color-white;
		text-decoration: none;
		font-size: 12px;

		transition: $transition-all;

		&.active {
			color: $color-primary;
		}

		&:hover {
			scale: $scale-1;
		}
	}
}