@import "../../../../base.scss";

.tables {
	display: flex;
	flex-direction: column;
	gap: $unit-4;

	&-title {
		font-size: 20px;
		font-weight: 600;
		color: $color-text-dark;
	}

	&-actions {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&-filters {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: $unit-3;
	}

	&-search {
		width: 240px;
		font-weight: 500;
	}

	&-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		justify-content: space-between;
		align-content: flex-start;
		gap: 24px;
	}

	&-info {
		&-number {
			font-size: 18px;
			font-weight: 700;
			color: $color-text-darker;
		}

		&-bartender {
			font-size: 16px;
			font-weight: 600;
			color: $color-text-dark;
		}
	}
}
