@import "../../../../base.scss";

.product-modal {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 18px;
	width: 100%;

	&-title {
		font-size: 20px;
		font-weight: 700;
		color: $color-text-darker;
	}

	.input {
		width: 100%;
	}

	.image-preview {
		width: 100%;
		background: $color-primary;
		border-radius: $unit-2;
		padding: $unit-2;

		display: flex;
		align-items: center;
		justify-content: center;

		img {
			height: 60px;
		}
	}
}
