@import "../../base.scss";

.chip {
	padding: 12px 16px;
	color: $color-text-placeholder;
	background: $color-gray-1;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 600;
	width: fit-content;
	line-height: 15px;
	height: fit-content;
	white-space: nowrap;

	transition: $transition-all;

	&:hover {
		cursor: pointer;
		scale: $scale-1;
	}

	&-primary {
		&:hover {
			background: rgba($color-primary, 0.6);
		}

		&.active {
			background: $color-primary;
			color: $color-text-dark;
		}
	}

	&-secondary {
		&:hover {
			background: rgba($color-secondary, 0.6);
		}

		&.active {
			background: $color-secondary;
			color: $color-white;
		}
	}
}
