@import "../../base.scss";

.chip {
	padding: 12px 16px;
	color: $color-text-placeholder;
	background: $color-gray-1;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 600;
	width: fit-content;
	line-height: 15px;
	height: fit-content;
	white-space: nowrap;

	transition: $transition-all;

	&:hover {
		cursor: pointer;
		scale: $scale-1;
	}

	&-primary {
		&:hover {
			background: rgba($color-primary, 0.6);
		}

		&.active {
			background: $color-primary;
			color: $color-white;
		}
	}

	&-secondary {
		&:hover {
			background: rgba($color-secondary, 0.6);
		}

		&.active {
			background: $color-secondary;
			color: $color-white;
		}
	}
}

.chip-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: $unit-2;
}

.chip-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: $unit-2;
	position: relative;

	&-scrollable {
		overflow-x: auto;
		white-space: nowrap;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&-arrow-right,
	&-arrow-left {
		min-width: 32px;
		min-height: 32px;
		background: none;
		border: none;
		border-radius: $unit-1;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background: $color-gray-1;
			cursor: pointer;
			scale: $scale-1;
		}

		&:disabled {
			opacity: 0.5 !important;
			color: $color-gray-3 ;
			scale: 1 !important;
			background: transparent !important;
			cursor: not-allowed !important;
		}
	}

	&-arrow-right {
		position: sticky;
		right: 0;
	}

	&-arrow-left {
		position: sticky;
		z-index: 2;
		left: 0;
	}
}

@media (max-width: 768px) {
	.chip {
		padding: 10px 14px;
		font-size: 14px;
		font-weight: 500;
		border-radius: 10px;
	}
}