@import "../../base.scss";

.products {
	display: flex;
	flex-direction: column;
	gap: $unit-4;
	width: 100%;

	&-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&-filters {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		&-chips {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
	
			gap: $unit-3;
		}
	}

	&-loading {
		width: 100%;
		padding: 32px;
		display: flex;
		align-items: center;
		justify-content: center;

		gap: 12px;
		flex-direction: column;

		font-size: 20px;
		color: $color-text-dark;
		font-weight: 600;
	}
	

	.search {
		font-size: 16px;
		font-weight: 500;
	}

	&-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(220px, 240px));
		justify-content: flex-start;
		align-content: flex-start;
		gap: $unit-6;
	}
}
