@import "../../base.scss";

.order-by {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: $unit-1;
	font-weight: 500;

	padding: 8px;
	width: fit-content;
	color: $color-text-placeholder;

	&:hover {
		cursor: pointer;
		scale: $scale-1;
	}

	&-label {
		font-size: 16px;
	}

	.icon {
		width: 16px;
		height: 16px;
	}

	&-active {
		font-weight: 600;
		border-radius: 8px;
		background: $color-secondary;
		color: white !important;
	}

	transition: $transition-all;
}

@media (max-width: 768px) {
	.order-by {
		&-label {
			font-size: 13px;
		}

		&-icon {
			width: 12px;
			height: 12px;
		}
	}
}
