@import "../../base.scss";

.order-by {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: $unit-1;
	font-weight: 500;

	padding: 6px;
	width: fit-content;

	&:hover {
		cursor: pointer;
		scale: $scale-1;
	}

	&-label {
		font-size: 16px;
		color: $color-text-placeholder;
	}

	transition: $transition-all;
}
