$color-primary: #9a36fd;
$color-secondary: #201f20;
$color-background: #fcfcfc;
$color-white: #fff;

$color-gray-1: #f0f0f0;
$color-gray-2: #d8d8d8;
$color-gray-3: #afafaf;

$color-success: #39c87b;
$color-danger: #ff4a4a;
$color-warning: #f5a623;

$color-text-placeholder: #505050;
$color-text-dark: #414141;
$color-text-darker: #212121;
$color-disabled: #c0c0c0;

$shadow-soft: 0 2px 3px 1px rgba(#313131, 0.1);
$shadow-normal: 0 2px 5px 1px rgba(#313131, 0.15);
$shadow-strong: 0 2px 5px 3px rgba(#313131, 0.2);
$transition-all: all 0.1s ease-in-out;

$unit-1: 6px;
$unit-2: 12px;
$unit-3: 18px;
$unit-4: 24px;
$unit-5: 30px;
$unit-6: 36px;

$scale-1: 1.05;
$scale-2: 1.1;

$waiter-header-height: 60px;
$bottom-nav-height: 72px;

@keyframes flip {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(180deg);
	}
}

@keyframes flip-reverse {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(180deg);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

$animation-flip: flip;
$animation-flip-reverse: flip-reverse;
$animation-fade-in: fade-in;
