@import "./base.scss";

html {
	width: 100%;
	height: 100%;
	overflow: hidden; 
}

body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	background: $color-background;
	overflow: auto;
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
}

* {
	box-sizing: border-box;
	margin: 0;
	outline: none;
}

button,
select,
textarea,
input {
	font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba($color-secondary, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $color-secondary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	cursor: auto;
	background: darken($color-secondary, 10%);
}

.page-title {
	font-size: 25px;
	font-weight: 600;
	color: $color-text-darker;
}

.card {
	display: flex;
	flex-direction: column;
	padding: $unit-3;
	gap: $unit-3;
	border-radius: $unit-3;
	width: 220px;
	width: 100%;
	box-shadow: $shadow-soft;

	&-gray {
		background: $color-gray-1;
	}
}

.flex-col-text {
	display: flex;
	flex-direction: column;
	gap: $unit-1;
}

.flex-row-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fill-row {
	align-self: stretch;
	width: 100%;
}

.gap-3 {
	gap: $unit-3;
}

.chip-status {
	padding: 4px 12px;
	border-radius: 8px;
	font-weight: 600;
	font-size: 14px;
	width: fit-content;

	&-primary {
		background: $color-primary;
		color: $color-text-dark;
	}

	&-secondary {
		background: $color-secondary;
		color: $color-white;
	}

	&-danger {
		background: $color-danger;
		color: $color-white;
	}

	&-success {
		background: $color-success;
		color: $color-white;
	}

	&-success-outlined {
		background: rgba($color-success, 0.2);
		color: $color-success;
	}
}

.dashline {
	border-top: 1px solid $color-gray-2;
}

.text-currency {
	display: grid;
	grid-template-columns: 30px 1fr;
	gap: 6px;

	&:last-child {
		text-align: right;
	}
}

.button-rounded {
	min-width: 44px;
	min-height: 44px;
	width: 44px;
	height: 44px;
	border-radius: 22px;
	background: $color-secondary;
	color: $color-white;

	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: $shadow-soft;

	transition: $transition-all;

	&:hover {
		cursor: pointer;
		scale: $scale-2;
	}
}

.flex-1 {
	display: flex;
	flex: 1;
}

.link {
	font-weight: 16px;
	font-weight: 700;
	width: fit-content;

	transition: $transition-all;

	&:hover,
	&:focus,
	&:active {
		cursor: pointer;
		scale: $scale-1;
	}

	&-primary {
		color: $color-primary;
	}

	&-secondary {
		color: $color-secondary;
	}
}
