@import "./base.scss";

#root {
	display: flex;
	flex: 1;
}

html {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	background: $color-background;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	line-height: 140%;
}

body {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	html,
	body {
		&::-webkit-scrollbar {
			display: none;
		}
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	outline: none;
}

button,
select,
textarea,
input {
	font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba($color-secondary, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $color-secondary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	cursor: auto;
	background: darken($color-secondary, 10%);
}

.flex-col-text {
	display: flex;
	flex-direction: column;
	gap: $unit-1;
}

.flex-row-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fill-row {
	align-self: stretch;
	width: 100%;
}

.fill-height {
	align-self: stretch;
	height: 100%;
}

.gap-3 {
	gap: $unit-3;
}

.dashline {
	border-top: 1px solid $color-gray-2;
}

.text-currency {
	display: grid;
	grid-template-columns: 30px 1fr;
	gap: 6px;

	&:last-child {
		text-align: right;
	}
}

.flex-1 {
	display: flex;
	flex: 1;
}

.scrollable-y {
	overflow-x: auto;
}

.scrollable-x {
	overflow-x: auto;
}

.no-scroll {
	&::-webkit-scrollbar {
		display: none;
	}
}
